.SlopesDetailsPage {
	background-image: url("./image19.jpeg");
	background-size: cover;
	height: 140vh;
	padding: 20px;
}

.SlopesDetailsPage .card {
	width: 500px;
	background-color: #fff8eb;
}
.SlopesDetailsPage button {
	color: black;
}

.SlopeCard-card {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 80px;
	padding: 40px;
}
.SlopesDetailsPage .slope-heading {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.5rem;
	font-weight: bold;
	height: 30px;
	margin: -10px 120px 30px 110px;
}
.SlopesDetailsPage .slope-subheading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 50px 10px 110px;
}

.SlopesDetailsPage .image {
	margin: 30px;
}

.SlopesDetailsPage form {
	display: flex;
	justify-content: center;
}
