.SlopesListPage {
	background: #2980b9;
	background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
	background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
	min-height: 100vh;
	padding: 20px;
}

.SlopesListPage-cointainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 20px;
}

.SlopesListPage-cointainer {
	text-decoration: none;
}

.slope-list-card {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	border: 1px solid rgb(188, 190, 203);
	padding: 20px;
	background: #fff8eb;
}

.SlopesListPage .slope-card-info-col {
	margin-top: 30px;
}

.SlopesListPage button {
	color: black;
}
